
body {
  margin: 0;
  font-family: 'Montserrat';
  max-width: 100vw;

  --caf-noir: #422E0Eff;
    --licorice: #23180Aff;
    --jasmine: #FDD98Dff;
    --earth-yellow: #FDC676ff;
    --caf-noir-2: #553C16ff;
  
    /* CSS HSL */
    --caf-noir: hsla(37, 65%, 16%, 1);
    --licorice: hsla(34, 56%, 9%, 1);
    --jasmine: hsla(41, 97%, 77%, 1);
    --earth-yellow: hsla(36, 97%, 73%, 1);
    --caf-noir-2: hsla(36, 59%, 21%, 1);
  
}

*{
  box-sizing: border-box;
}

img {
  display:block;
}


a{
  cursor:pointer;
  font-family:inherit;
  text-decoration:none;
  color:white;
}

img{
  height: 100% !important;
  object-fit: cover;
}

a:hover{
    color:rgba(51, 51, 51, 0.5)
}

html {
  scroll-behavior: smooth;
}




